.bg-red {
  background-color: #B20200 !important;
}

.bg-white {
  background-color: white !important;
}

.bg-lg {
  background-color: #B6B6B6 !important;
}

.bg-light-grey {
  background-color: #DFDFDF !important;
}

.bg-light-black {
  background-color: #232323 !important;
}

.bg-black {
  background-color: #171717 !important;
}

.bg-green {
  background-color: #1EA615 !important;
}

.bg-grey {
  background-color: #F0F0F0 !important;
}

.bg-off-white {
  background-color: #FFF9F1 !important;
}

.bg-light-blue {
  background-color: #F8FAFF !important;
}

.bg-dark-blue {
  background-color: #04336F !important;
}

.bg-light-yellow {
  background-color: #F2F9DB !important;
}

.off-white {
  color: #FDFFD1 !important;
}

.yellow {
  color: #FDE602 !important;
}

.white {
  color: white !important;
}

.gray {
  color: #465571 !important;
}

.lightgrey {
  color: #919FAB !important;
}

.dark-blue {
  color: #003773 !important;
}

.lightred {
  color: #E21C21 !important;
}

.green {
  color: #2EAC25 !important;
}

.black {
  color: #222222 !important;
}
