<div>
  <div id="container">
    <!-- Cover Box -->
    <div id="cover">
      <img class="dot-logo" src="../../../../assets/img/dot_logo.svg" />
      <!-- Sign Up Box -->
      <h1 class="sign-up">DOTC-MRT3</h1>
      <br>
      <h4 class="sign-up">EDSA Line</h4>
      <p class="sign-up">
        Enter your personal details<br />
        and start a journey with us
      </p>
      <button class="button sign-up" (click)="goToSignUp()">Sign Up</button>
    </div>

    <!-- Login Box -->
    <div id="login" style="border: 1px solid #3aa7b1">
      <h3 style="color:black">Sign in using your <br>
        <h2>Virtual Card Number</h2>
      </h3>
      <br>
      <form>
        <input type="email" placeholder="Virtual Card Number" autocomplete="off" />
        <br>
        <br>
        <br>
        <span>Don't have a Virtual Card Number Yet?</span><br>
        <a id="forgot-pass" (click)="goToSignUp()">Generate a Virtual Card Number here</a><br />
        <input class="submit-btn" type="submit" value="Sign In" (click)="goToInquiry()" />
      </form>
    </div>
  </div>
</div>
