<div class="test">


  <div class="container ms-logo-section" style="margin-bottom: 15vh; margin-top: 5vh">
    <div class="align-items-center justify-content-center">
      <div class="row">

        <div class="col font-weight-normal small-text" style="text-align: center;">

          <p class="header poppins-bold">
            Payment Portal
          </p>
          <br>

          <div class="cont">
            <div class="col">
              <input type="email" placeholder="Virtual Card Number" autocomplete="off" />
            </div>
            <div class="col">
              <button class="submit-btn">Pay Travel Fee</button>
            </div>
          </div>
          <div class="card" style="width: 500px; margin-top: 8%">
            <p style="margin-top: 2%"> Travel Fee: {{selectedValue1 + selectedValue2}} </p>
          </div>
          <br>
          <br>
          <hr
            style="height:1px;border-width:0;background-color:lightgray; margin-left: 2.5%; margin-right: 2.5%; margin-bottom: 2%;">

          <div class="cont">
            <div class="col">
              <p style="letter-spacing: 2px; color: rgb(194, 55, 55); text-align: left; margin-left: 2.5%;">
                Lost your Virtual Card Number?
              </p>
            </div>
            <div class="col">
              <button class="submit-btn">Pay Lost Fee</button>
            </div>
          </div>
          <div class="card" style="width: 500px; margin-top: 8%">
            <p style="margin-top: 2%"> Travel Fee: {{selectedValue1 + selectedValue2}} </p>
          </div>
          <br>
          <br>

        </div>
      </div>
    </div>
  </div>
</div>
